body {
    background-color: #EAF6F6;
    
}

hr {
 
    border-style: none;
    height: 0px ;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    color: darkgray;

}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

p {
   color: black;
}

ul {
    color: black;   
}

table {
    color: black;
}

ol {
    color: black;  
}

div.container {
    text-align: center;
}

ul.ul {
    display: inline-block;
    text-align: left;
}

ol.ol {
    display: inline-block;
    text-align: left;
}

